body{
    background-color: ivory;
}
#welcome{
    margin:auto;
    text-align:center;
    margin-bottom: 12px;
    width: 25%;
    border: 1.5px solid goldenrod;
    background-color:bisque;
}
#slash{
    font-weight: bolder;
    font-size: 1.4em;
}

#control1{color:#990D35;}
#control2{color: #01295F}

#descripAndControl{
    margin:auto;
    margin-top: 4.5%;
    text-align:center;
    font-size: 1.3em;
}

canvas {
    border:1.01px solid black;
    background-color: #fff5c5;
}

#canvasContainer{
    border: 2px solid #505168;
    background-color: black;
    margin:auto;
    width:722px;
    height:407px;
    margin-top: 10%;
}
#banner{
    margin:auto;
    width: 75%;
    height:100%;
    max-height: auto;
    border: 3px solid goldenrod;
}
#buttons,button{
    margin:auto;
    font-size:larger;
    position:relative;
    text-align:center;
    margin-top:5px;
}

table, tr, td{
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1.5px solid goldenrod;
}

#pButton{
    background-color: steelblue;
}
#pButton:hover{
    background-color: goldenrod;
    color: #990D35;
}

#jumpBar1{
    transform: rotate(270deg);
}
#jumpBar2{

}